{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center">Vérifiez votre boîte de réception 📧</h2>
                        <hr>
                        <p>Nous vous avons envoyé par e-mail les instructions pour définir votre mot de passe, si un compte correspondant à l'adresse e-mail fournie existe.</p>
                        <p>Veuillez consulter votre boîte de réception et, si nécessaire, votre dossier de courrier indésirable (spam).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}